div.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

div.year {
    display: flex;
    border: 0.5px black solid;
    justify-content: space-evenly;
}

div.term {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: solid black 0.5px;
    flex-grow: 1;
    align-items: center;
}

.term div {
    margin: 5px;
    background-color: rgb(233, 233, 233);
    width: 100%;
    max-width: 100px;
    aspect-ratio: 1 / 1;
}

.acceptDrop {
    background-color: rgb(141, 141, 141);
}

div.infoBox {
    grid-row: span 2;
    border: 1px black solid;
    text-align: center;
    padding: 5px;
}

div.coursesBox {
    grid-row-start: 2;
    border: 1px black dashed;
    padding: 5px;
}

.scrollBox {
    border: 1px black solid;
    overflow: scroll;
}

form {
    padding: 5px;
}

ul {
    list-style: none;
    padding: 5px;
}

li {
    border-radius: 4px;
    background-color: rgb(233, 233, 233);
    padding: 2px;
    margin-bottom: 2px;
}
