div.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

div.year {
    display: flex;
    border: 1px black solid;
    justify-content: space-evenly;
}

div.term {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: solid black 1px;
    flex-grow: 1;
    align-items: center;
}

.term div {
    margin: 5px;
    background-color: rgb(204, 204, 204);
    width: 100%;
    max-width: 100px;
    aspect-ratio: 1 / 1;
}

.acceptDrop {
    background-color: rgb(141, 141, 141);
}

div.infoBox {
    grid-row: span 2;
    border: 1px black solid;
    margin: 10px;
    text-align: center;
    padding: 5px;
}

div.coursesBox {
    grid-row-start: 2;
    border: 1px black dashed;
    margin: 10px;
    padding: 5px;
}

.scrollBox {
    border: 1px black solid;
    overflow: scroll;
}

div.course {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    text-align: center;
    background-color: white;
}

.courseTitle {
    font-weight: bold;
}
